@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Restaurante</h1>
        <a asp-controller="FoodMenus" asp-action="Index" class="btn btn-outline-dark">Menus</a>
       
    </div>
